.button {
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  .button-social {
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #022447;
    color: #fff;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #008bc4;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #008bc4;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
  }
  .header__container {
          position: relative;
          width: 100%;
          margin: 0 auto;
          background-color: #000a19;
          padding-right: 1rem;
          padding-left: 1rem;
          padding: 1.6rem 1rem
  }
  .header__wrapper {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-lines: multiple;
          -moz-box-lines: multiple;
          -spec-box-lines: multiple;
          box-lines: multiple;
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          -spec-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -moz-box-align: center;
          -spec-box-align: center;
          box-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          -spec-align-items: center;
          align-items: center;
          -ms-flex-align: center;
          -webkit-box-lines: single;
          -moz-box-lines: single;
          -spec-box-lines: single;
          box-lines: single;
          -webkit-flex-wrap: nowrap;
          -moz-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          -spec-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-box-pack: justify;
          -moz-box-pack: justify;
          -spec-box-pack: justify;
          box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          -ms-justify-content: space-between;
          -o-justify-content: space-between;
          -spec-justify-content: space-between;
          justify-content: space-between;
          -ms-flex-pack: justify;
          position: relative;
          margin: 0
      }

      .header__wrapper:after,.header__wrapper:before {
          -webkit-flex-basis: 0;
          -moz-flex-basis: 0;
          -spec-flex-basis: 0;
          flex-basis: 0;
          -ms-flex-preferred-size: 0;
          order: 1
      }

      .header__logo {
          padding-right: 1rem;
          line-height: 1
      }

      @media all and (max-width: 767px) {
          .header__logo {
              max-width:12rem
          }
      }

      .header__logo a {
          display: inline-block;
          text-decoration: none
      }

      .header__logo img {
          width: auto;
          max-width: initial;
          max-height: 35px
      }

      @media all and (max-width: 767px) {
          .header__logo img {
              display:block;
              max-width: 100%;
              max-height: 60px
          }
      }

      .header__nav {
          width: 100%
      }

      @media all and (max-width: 767px) {
          .header__nav {
              display:block;
              position: absolute;
              top: 160%;
              left: 0;
              width: 100%;
              margin: 0;
              box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1);
              opacity: 0;
              overflow: hidden;
              visibility: hidden;
              z-index: -9999
          }

          .header__nav .header__nav-item {
              display: block
          }

          .header__nav .header__nav-item a,.header__nav .header__nav-item button {
              display: block;
              padding: 8px 16px;
              color: #fff;
              font-weight: 500;
              text-align: center;
              text-decoration: none
          }

          .header__nav .header__nav-item a:active,.header__nav .header__nav-item a:hover,.header__nav .header__nav-item button:active,.header__nav .header__nav-item button:hover {
              background-color: #00a2e1;
              color: #fff
          }

          .header__nav .header__nav-item .dropdown__toggle-button {
              display: none
          }
      }

      @media all and (min-width: 768px) {
          .header__nav.header__nav--left>ul {
              text-align:left
          }

          .header__nav.header__nav--left .header__logo {
              padding-right: 3rem
          }

          .header__nav.header__nav--left .dropdown,.header__nav.header__nav--left .header__nav-sign-in {
              float: right
          }

          .header__nav.header__nav--left .dropdown__menu {
              right: -10px
          }
      }

      @media all and (min-width: 992px) {
          .header__nav.header__nav--left.header__nav--has-cta .header__nav-sign-in {
              position:relative;
              top: 0.5rem
          }
      }

      .header__nav>ul {
          text-align: right
      }

      @media all and (min-width: 768px) {
          .header__nav>ul>li:first-child {
              margin-left:0
          }
      }
      @media all and (max-width: 767px) {
          [data-menu-type="header__nav--dropdown"].header[data-menu="open"] .header__nav {
              -webkit-transition:opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              -moz-transition: opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              transition: opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              opacity: 1;
              visibility: visible;
              z-index: 302
          }

          [data-menu-type="header__nav--dropdown"].header .header__nav {
              -webkit-transition: opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              -moz-transition: opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              transition: opacity 400ms ease,visibility 400ms ease,z-index 400ms ease
          }
      }

      @media all and (max-width: 767px) {
          [data-menu-type="header__nav--overlay"].header[data-menu="open"] {
              -webkit-transition:background-color 200ms ease,opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              -moz-transition: background-color 200ms ease,opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              transition: background-color 200ms ease,opacity 400ms ease,visibility 400ms ease,z-index 400ms ease;
              position: fixed;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: #00b4fa !important;
              z-index: 302
          }

          [data-menu-type="header__nav--overlay"].header[data-menu="open"] .header__nav {
              padding-top: 2rem;
              box-shadow: none;
              opacity: 1;
              visibility: visible
          }
      }

      .header__nav-item {
          display: inline-block;
          font-size: 0.8em;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase
      }

      @media all and (min-width: 768px) {
          .header__nav-item {
              margin-left:2rem
          }

          .header__nav-item.dropdown {
              margin-right: 10px
          }

          .header__nav-item>a,.header__nav-item>button {
              color: #fff;
              font-weight: 500;
              text-decoration: none
          }
      }

      @media all and (min-width: 768px) and (max-width: 767px) {
          .header__nav-item>a,.header__nav-item>button {
              display:inline-block;
              background-color: transparent;
              font-family: "Roboto Slab",sans-serif;
              font-size: 1.25em;
              text-transform: none
          }

          .header__nav-item>a:after,.header__nav-item>button:after {
              display: block;
              position: relative;
              top: -5px;
              width: 100%;
              height: 2px;
              background-color: transparent;
              content: "";
              opacity: 0.6
          }

          .header__nav-item>a:active:after,.header__nav-item>a:hover:after,.header__nav-item>button:active:after,.header__nav-item>button:hover:after {
              background-color: #000a19
          }
      }
      .footer {
        margin-top: auto;
        padding-top: 2rem;
        padding-bottom: 1rem;
        background-color: #000a19;
        color: #fff
    }

    .home-landing-page .footer,.course-landing-page .footer,.bundle-landing-page .footer {
        border-top: 0
    }

    .footer .section__content {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -spec-box-lines: multiple;
        box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -spec-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -1rem;
        margin-left: -1rem;
        padding-right: 0;
        padding-left: 0
    }

    .footer .section__content:after,.footer .section__content:before {
        -webkit-flex-basis: 0;
        -moz-flex-basis: 0;
        -spec-flex-basis: 0;
        flex-basis: 0;
        -ms-flex-preferred-size: 0;
        order: 1
    }

    .footer .section__divide {
        background-color: #f5f5f5
    }

    .footer__container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-right: 1rem;
        padding-left: 1rem
    }

    @media all and (min-width: 768px) {
        .footer__container {
            max-width:768px
        }
    }

    @media all and (min-width: 992px) {
        .footer__container {
            max-width:992px
        }
    }

    @media all and (min-width: 1200px) {
        .footer__container {
            max-width:1200px
        }
    }

    .footer__nav-site,.footer__nav-social,.footer__copyright,.footer__white-label {
        position: relative;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        flex: 0 0 100%;
        max-width: 100%
    }

    @media all and (min-width: 480px) {
        .footer__nav-site,.footer__nav-social,.footer__copyright,.footer__white-label {
            position:relative;
            width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
            flex: 0 0 50%;
            max-width: 50%
        }
    }

    .footer__nav-site,.footer__nav-social {
        text-align: center
    }

    .footer__nav-site a,.footer__nav-social a {
        display: inline-block;
        color: #fff;
        font-size: 0.875rem;
        font-weight: 600;
        text-decoration: none
    }

    .footer__nav-site a:active,.footer__nav-site a:hover,.footer__nav-social a:active,.footer__nav-social a:hover {
        color: #fff
    }

    .footer__nav-site li,.footer__nav-social li {
        display: inline-block
    }

    .footer__nav-site li:last-child,.footer__nav-social li:last-child {
        margin-right: 0
    }

    @media all and (max-width: 767px) {
        .footer__nav-site {
            margin-bottom:2rem
        }
    }

    @media all and (min-width: 480px) {
        .footer__nav-site {
            text-align:left
        }
    }

    .footer__nav-site li {
        margin-right: 2rem
    }

    .footer__nav-site .footer__nav-item a {
        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase
    }

    @media all and (min-width: 480px) {
        .footer__nav-social {
            text-align:right
        }
    }

    .footer__nav-social a {
        font-size: 1.2rem
    }

    .footer__nav-social li {
        margin-right: 0.8rem
    }

    .footer__copyright,.footer__white-label {
        color: #fff;
        font-size: 0.875rem;
        text-align: center;
        opacity: 0.8
    }

    @media all and (min-width: 480px) {
        .footer__copyright {
            text-align:left
        }
    }

    .footer__white-label {
        margin-right: 0;
        margin-left: auto
    }

    @media all and (min-width: 480px) {
        .footer__white-label {
            text-align:right
        }
    }

    .footer__white-label a {
        color: #fff;
        text-decoration: none
    }